modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
PAKASIR_SLUG = "ags-store-xl"
API2_BASE_URL = "https://panel.khfy-store.com/api_v2"
CEK_PAKET_URL = "https://bendith.my.id/"
DOPU_BASE_URL = "http://141.11.190.108:8182"
DOPU_MEMBER_ID = "BRT423"
DOPU_PIN = "1234"
DOPU_PASSWORD = "Imu111111"
CEK_STOK_AKRAB1_URL = "https://juraganxl.my.id/"
CEK_STOK_CIRCLE_URL = "https://juraganxl.my.id/"
ADMIN_TELEGRAM_IDS = "1451679975"
ADMIN_API_KEY = "Ar291199"
DOPU_CALLBACK_SECRET = "b60af593cc51bfb9370cb72ea08b5637e8959e51767b9a61"
PAKASIR_WEBHOOK_SECRET = "3f414b2d034fd0e4440685859f0078e88e8a6aa03ddd3c54"
DIGIFLAZ_USERNAME = "nufetagK561D"
DIGIFLAZ_API_KEY = "05b2598a-ad71-577c-8f86-70e434237838"

[nix]
channel = "stable-25_05"
